<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<h1>Cities</h1>

<ul id="cities_list">
  <li id="aus" class="south">Austin</li>
  <li id="bos" class="east">Boston</li>
  <li id="ord" class="midwest">Chicago</li>
  <li id="lax" class="west">Los Angeles</li>
  <li id="jfk" class="east">New York</li>
  <li id="sfo" class="west">San Francisco</li>
</ul>

<div id="bye">Click me</div>

<script>
$("body").on("click", "#bye", function() {
  $(".west").slideToggle();
});


function fiizbuzz() {
  console.log("howdy!");
  for (let i = 1; i < 100; i++) {
    let output = "";
    if (i % 3 === 0){
      output = output + "fizz";
    }
    if (i % 5 === 0){
      output = output + "buzz";
    }
    if (output === ""){
      output = i;
    }
    console.log(output);
  }
}

fiizbuzz();

  
</script>
